<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <router-link class="btn btn-success" :to="{ name: 'MallProductCreate' }">
                <i class="fa fa-shopping-bag"></i> Sell Product Online
            </router-link>
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered table-city" style="width:100%">
                <thead>
                    <tr>
                        <th width="30px">No.</th>
                        <th width="250px">Product</th>
                        <th>Weight</th>
                        <th>Unit Value</th>
                        <th>Price</th>
                        <th>Sellable Stock</th>
                        <th>Is Active</th>
                        <th class="all" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, index) in products" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.weight }} {{ row.weight_uom_display }}</td>
                        <td>{{ row.unit_value }} {{ row.uom_display }}</td>
                        <td>{{ currency(row.price) }}</td>
                        <td>{{ row.sellable_stock }}</td>
                        <td>
                            <i class="fa fa-check text-success" v-if="row.display_on_mall"></i>
                            <i class="fa fa-times text-danger" v-else></i>
                        </td> 
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-sm btn-primary" @click="edit(row.id)">
                                    <i class="fa fa-pencil"></i> Edit
                                </button>
                                <button class="btn btn-sm btn-success" @click="detail(row.id)">
                                    <i class="fa fa-eye"></i> Detail
                                </button>
                                <button class="btn btn-sm btn-danger" @click="confirmDelete(row.id)">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                         
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            products: []
        }
    },

    mounted() {
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetch();
        },

        /**
         * Fetch products list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/malls/products`;

            axios.get(endpoint).then(res => {
                this.products = res.data.collection;

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

/**
         * Delete confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmDelete(id) {
            swal({
                title: 'Are you sure?',
                text: "Your data will permanently deleted.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "btn-danger",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.delete(id);
                }
            })
        },

        /**
         * Delete rejection message.
         */
         rejectDelete() {
             swal({
                title: 'Denied',
                text: 'Can not delete product.',
                icon: 'error'
            });
         },

         /**
          * Delete data
          * 
          * @author Vicky Hariadi.
          */
         delete(id) {
             let endpoint = `${BASEURL}/api/v1/malls/products/${id}`;
                console.log(endpoint);
             axios.post(endpoint, { _method: 'DELETE' }).then(res => {
                 if (res.data.status == 'denied') {
                     this.rejectDelete()

                     return
                 }

                 swal({
                    title: 'Delete',
                    text: 'Your product has been deleted from database.',
                    icon: 'success'
                });

                let index = this.products.findIndex(row => row.id == id)

                this.products.splice(index, 1)
             });
        },
        
        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'MallProductDetail', params: { id } });
        },
        
        edit(id) {
            this.$router.push({ name: 'MallProductEdit', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            number = parseFloat(number);

            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>