#country-list{
	list-style:none;
	margin-top:-3px;
	padding:0;
	width:100%;
	position: relative;
	z-index: 1000;
	color:white;
}
#country-list li{
	padding: 10px;
	background: #3c8dbc;
	border-left: #bbb9b9 1px solid;
	border-right: #bbb9b9 1px solid;
}
#country-list li:hover{
	background:rgb(255, 208, 0);
	cursor: pointer;
	color:black;
	border-bottom: #bbb9b9 1px solid;
}

.form-control-static {
    padding: 0;
}

/* scrollup */

.scrollup{
    width: auto;
    height: auto;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 1px;
    right: 1px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

.scrollup-right{
    width: auto;
    height: auto;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 1px;
    left: 1px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup-right:hover {
    opacity: 1;
}

.scrollup-right i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loading.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
}

.text-neogray {
    color: #444 !important;
}

.text-neowhite {
    color: hsl(260, 50%, 91%) !important;
}

.bg-neopurple {
    background-color: #8a69ae !important;
}

.neoborder-right {
    border-right: 1px solid hsl(271, 31%, 57%) !important;
}

.neoborder-left {
    border-left: 1px solid hsl(271, 31%, 57%) !important;
}

.skin-neosoft .nav.active,
.skin-neosoft .sidebar-toggle:hover,
.skin-neosoft .main-header .navbar .nav .open>a,
.skin-neosoft .main-header .navbar .nav .open>a:hover,
.skin-neosoft .main-header .navbar .nav .open>a:focus,
.skin-neosoft .main-header .navbar .navbar-custom-menu .navbar-nav>li>a:hover,
.skin-neosoft .main-header .navbar .nav>.active>a {
    background-color: hsl(271, 23%, 45%) !important;
}

.skin-neosoft .main-header .navbar .nav>li>a:focus {
    background-color: #8a69ae !important;
}

.btn-float-right {
    float: right !important;
}

.table-therapists .btn {
    border-radius: 0px !important;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-float-right {
        float: left !important;
    }
}

@media (max-width: 575.98px) {
    .btn-float-right {
        float: left !important;
    }

    .table-therapists .btn {
        float: right;
    }

    .mobile-left {
        float: left !important;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 17px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4dd163;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #de4b36;
}

input:focus + .slider {
    box-shadow: 0 0 1px #de4b36;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 50px;
}

.slider.round:before {
    border-radius: 50%;
}