<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-5">
                            <span style="font-size:20px;">Work Order Detail</span>
                            <p style="font-size:15px;"><i>Show work order overview and detail items.</i></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form form-invoice" data-toggle="validator" method="post">
                                <div class="box-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Person in Charge</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.pic.name }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Start Date</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.start_date }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Due Date</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.due_date }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Remarks</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.remarks }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Item(s)</label>
                                            <div class="col-md-10">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th width="30px">No.</th>
                                                                <th>Item</th>
                                                                <th>Unit Value.</th>
                                                                <th>Target Qty</th>
                                                                <th>Finished</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody v-if="model.details.length">
                                                            <tr v-for="(row, index) in model.details" :key="index">
                                                                <td>{{ index + 1 }}</td>
                                                                <td>
                                                                    <router-link :to="{ name: 'ManufactureMaterialDetail', params: { id: row.id } }">
                                                                        {{ row.item.name }}
                                                                    </router-link>
                                                                </td>
                                                                <td>{{ row.item.unit_value }} {{ row.item.uom.display }}</td>
                                                                <td>{{ row.qty }}</td>
                                                                <td>{{ row.finished_qty }}</td>
                                                                <td>
                                                                    <span v-if="row.mark_as_close" class="badge badge-danger">CLOSED</span>
                                                                    <span v-else class="badge badge-info">OPEN</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tbody v-else>
                                                            <tr>
                                                                <td colspan="7">
                                                                    No Details. Please fill details.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            id: null,
            is_detail_editing: false,
            detail_edit_index: null,

            options: {
                suppliers: [],
                items: [],
                banks: [],
                uoms: []
            },

            logs: [],
            

            detail: {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                item: {
                    uom: {}
                },
                subtotal: 0
            },

            model: {
                pic_id: '',
                start_date: '',
                due_date: '',
                remarks: '',
                pic: {},
                details: []
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.id = this.$route.params.id;

        this.registerDatePicker();
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.load()
        },

        asset(path) {
            return `/${path}`;
        },


        /**
         * Load item.
         */
        load() {
            let endpoint = `${BASEURL}/api/v1/manufactures/work_orders/${this.id}`;

            axios.get(endpoint).then(res => {
                this.model = res.data.model;
            });
        },

        /**
         * Fetch unit of measurement options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUoms() {
            let endpoint = `${BASEURL}/api/v1/uoms/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.uoms = res.data.options;
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#detail_item_id').change(function () {
                    vm.detail.item_id = $(this).val();
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },

        /**
         * Create receive item.
         */
        createReceive() {
            let query = {
                supplier_id: this.model.supplier_id,
                order_id: this.model.id
            };

            this.$router.push({ name: 'LogisticPurchaseReceiveCreate', query });
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#transdate').datepicker('setDate', 'today');
            $('#duedate').datepicker('setDate', '+1w');
            
            let vm = this;

            $('#transdate').change(function () {
                let date = $(this).val();
                vm.model.transdate = date.split('/').reverse().join('-');
            });

            $('#duedate').change(function () {
                let date = $(this).val();
                vm.model.duedate = date.split('/').reverse().join('-');
            });


            $('#duedate').change();
            $('#transdate').change();
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/orders`;

            this.model.total = this.total;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your purchase order has been stored to database.',
                    icon: 'success'
                });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store purchase order, please contact IT.',
                    icon: 'error'
                });
            });
        },

        /**
         * Add item detail.
         * 
         * @author Vicky Hariadi.
         */
        addDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;
            
            this.model.details.push(detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
        },

        /**
         * Update stock.
         * 
         * @author Vicky Hariadi.
         */
        updateDetail() {
            let detail = { ...this.detail };
            let item = this.options.items.find(row => row.id == detail.item_id);
            detail.item_display = item.name;

            this.model.details.splice(this.detail_edit_index, 1, detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
            
        },

        /**
         * 
         */
        resetDetail() {
            this.detail = {
                item_id: '',
                unit_value: 0,
                uom_display: '',
                qty: 1,
                price: 0,
                subtotal: 0
            };


            $('#detail_item_id').val('').change();
            this.is_detail_editing = false;
            this.detail_edit_index = null;
        },

        /**
         * Delete begin stock.
         * 
         * @author Vicky Hariadi.
         */
        deleteDetail(index) {
            this.model.details.splice(index, 1);
        },

        /**
         * Edit begin stock.
         * 
         * @author Vicky Hariadi.
         */
        editDetail(index) {
            this.detail = { ...this.model.details[index] }
            this.is_detail_editing = true;
            this.detail_edit_index = index;
            $('#detail_item_id').val(this.detail.item_id).change();

            $('#detailModal').modal('show');
            
        },
    },

    watch: {
        /**
         * Autofill item information as default.
         * 
         * @author Vicky Hariadi.
         */
        'detail.item_id': function (newVal) {
            let item = this.options.items.find(row => row.id == newVal);

            if (item) {
                this.detail.uom_display = this.options.uoms.find(row => row.id == item.uom_id).display;
                this.detail.unit_value = item.unit_value;
                this.detail.price = item.cogs;
            }
            
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.qty': function (newVal) {
            this.detail.subtotal = newVal * this.detail.price;
        },

        /**
         * Calculate subtotal.
         * 
         * @author Vicky Hariadi.
         */
        'detail.price': function (newVal) {
            this.detail.subtotal = newVal * this.detail.qty;
        }
    },

    computed: {
        total() {
            if ( ! this.model.details.length) {
                return 0;
            }

            return this.model.details.reduce((acc, row) => {
                return acc + row.subtotal;
            }, 0);
        }
    }
}
</script>
<style scoped>
    .badge-info {
        background-color: #00c0ef;
    }

    .badge-danger {
        background-color: #dd4b39;
    }
</style>