<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <span style="font-size:20px;">Sales Order</span>
            <p style="font-size:15px;"><i>Display sales order from e commerce</i></p>
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered nowrap table-city" style="width:100%">
                <thead>
                    <tr>
                        <th width="30px">No.</th>
                        <th>Buyer</th>
                        <th>Destination</th>
                        <th>Courier</th>
                        <th>Service</th>
                        <th>Waybill no</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th class="all" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, index) in orders" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ row.receiver.name }}</td>
                        <td>{{ row.destination.city }}</td>
                        <td>{{ row.courier.toUpperCase() }}</td>
                        <td>{{ row.courier_service }}</td>
                        <td>{{ row.resi_no }}</td>
                        <td>{{ currency(row.grand_total) }}</td>
                        <td>{{ row.status }}</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-sm btn-success" @click="detail(row.id)">
                                    <i class="fa fa-eye"></i> Detail
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            orders: []
        }
    },

    mounted() {
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetch();
        },

        /**
         * Fetch products list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/malls/orders`;

            axios.get(endpoint).then(res => {
                this.orders = res.data.collection;

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'MallOrderDetail', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            number = parseFloat(number);

            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>