<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Create Inventory Adjustment</span>
                    <p style="font-size:15px;"><i>Make inventory adjustment</i></p>
                </div>

                <form class="form form-invoice" data-toggle="validator" method="post">
                    <div class="box-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="col-md-2 control-label">Adjustment Date *</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control date" id="transdate">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Adjusted By *</label>
                                <div class="col-md-5">
                                    <select id="adjusted_by" class="form-control">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.users" :key="index" :value="row.id">{{ row.name }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Item *</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="item_id">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.items" :key="index" :value="row.id">
                                            {{ row.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Warehouse Source *</label>
                                <div class="col-md-5">
                                    <select id="warehouse_id" class="form-control">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.warehouses" :key="index" :value="row.id_warehouse">{{ row.name }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Adjustment Category *</label>
                                <div class="col-md-5">
                                    <select id="transdesc" class="form-control">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.types" :key="index" :value="row.value">{{ row.text }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" v-show="model.item_id && model.warehouse_id && (model.stock_adjustment_type == 'in' || model.stock_adjustment_type == 'out')">
                                <label class="col-md-2 control-label">Reference *</label>
                                <div class="col-md-5">
                                    <select id="ref_id" class="form-control">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.refs" :key="index" :value="row.id">{{ row.purchase_order ? row.purchase_order.code : '' }} {{ row.transdesc }} {{ row.transdate }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" v-if="model.item_id && model.warehouse_id && (model.stock_adjustment_type == 'in' || model.stock_adjustment_type == 'out')">
                                <label class="col-md-2 control-label">Adjustment *</label>
                                <div class="col-md-5">
                                    <input type="number" min="1" class="form-control mt-15" v-model="model.stock_adjustment">
                                    <table class="table table-bordered" id="table-item">
                                        <tr>
                                            <td>Stock Before</td>
                                            <td>Adjustment</td>
                                            <td>Stock After</td>
                                        </tr>
                                        <tr>
                                            <td>{{ model.stock_before }}</td>
                                            <td>
                                                <b class="text-success" v-if="model.stock_adjustment_type == 'in'">+</b>
                                                <b class="text-danger" v-else>-</b>
                                                {{ model.stock_adjustment }}
                                            </td>
                                            <td>
                                                <i class="fa fa-caret-up text-success" v-if="model.stock_adjustment_type == 'in'"></i>
                                                <i class="fa fa-caret-down text-danger" v-else></i>
                                                {{ model.stock_after }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Reason *</label>
                                <div class="col-md-5">
                                    <textarea rows="4" class="form-control" v-model="model.reason"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="box-footer text-right">
                    <button @click.prevent="confirmStore" class="btn btn-primary btn-save"><i class="fa fa-floppy-o"></i> Save
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            is_detail_editing: false,
            detail_edit_index: null,

            options: {
                items: [],
                detail_racks: [],
                warehouses: [],
                users: [],
                types: [
                    { id: 1, type: 'in', value: 'ADJ RCV HUMAN ERROR ADD', text: 'Human Error (+)' },
                    { id: 2, type: 'out', value: 'ADJ RCV HUMAN ERROR SUB', text: 'Human Error (-)' },
                    { id: 3, type: 'out', value: 'ADJ BROKEN ITEM', text: 'Broken Item' },
                    { id: 4, type: 'out', value: 'ADJ LOST ITEM', text: 'Lost Item' },
                ],
                refs: []
            },

            model: {
                stock_adjustment_type: '',
                stock_before: 0,
                stock_after: 0,
                stock_adjustment: 1,
                reason: '',
                item_id: '',
                transdesc: '',
                transdate: '',
                warehouse_id: '',
                ref_id: '',
                adjusted_by: ''
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.registerDatePicker();
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetchItems();
            this.fetchWarehouses();
            this.fetchUsers();
            this.registerSelect2Listener();
        },

        asset(path) {
            return `/${path}`;
        },

        /**
         * Register select2 listener.
         */
        registerSelect2Listener() {
            let vm = this;

            $('#transdesc').change(function () {
                vm.model.transdesc = $(this).val();
            });
            
            $('#ref_id').change(function() {
                vm.model.ref_id = $(this).val();
            });
        },

        /**
         * Fetch user options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUsers() {
            let endpoint = `${BASEURL}/api/v1/users/options`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.users = res.data.options;

                $('#adjusted_by').change(function () {
                    vm.model.adjusted_by = $(this).val();
                });
            });
        },

        /**
         * Fetch warehouse options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWarehouses() {
            let endpoint = `${BASEURL}/api/v1/warehouses/options`;
            let vm = this;
            axios.get(endpoint).then(res => {
                this.options.warehouses = res.data.options;

                $('#warehouse_id').change(function () {
                    vm.model.warehouse_id = $(this).val();
                });

                $('#detail_warehouse_id').change(function () {
                    vm.detail.warehouse_id = $(this).val();
                });
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#item_id').change(function () {
                    vm.model.item_id = $(this).val();
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#transdate').datepicker('setDate', 'today');
            
            let vm = this;

            $('#transdate').change(function () {
                let date = $(this).val();
                vm.model.transdate = date.split('/').reverse().join('-');
            });

            $('#transdate').change();
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * Fetch item detail.
         */
        fetchItemDetail() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/${this.model.item_id}/warehouses/${this.model.warehouse_id}`;

            axios.get(endpoint).then(res => {
                this.model.stock_before = parseInt(res.data.model.mutations_count);
                this.options.refs = res.data.model.mutations;
            });
        },

        calculateStockAfter(stock_adjustment) {
            if (this.model.stock_adjustment_type == 'in') {
                this.model.stock_after =  this.model.stock_before + stock_adjustment;
            } else {
                this.model.stock_after = this.model.stock_before - stock_adjustment;
            }
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/logistics/mutations/adjustments`;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your inventory adjustment has been stored to database.',
                    icon: 'success'
                });

                this.$router.push({ name: 'LogisticItemDetail', params: { id: this.model.item_id } });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store inventory adjustment, please contact IT.',
                    icon: 'error'
                });
            });
        },
    },

    watch: {
        'model.transdesc': function (transdesc) {
            let model = this.options.types.find(row => row.value == transdesc)

            this.model.stock_adjustment_type = model.type;
        },

        /**
         * Only fetch item detail when warehouse & item has been selected.
         * 
         * @author Vicky Hariadi.
         */
        'model.warehouse_id': function (warehouse_id) {
            if (warehouse_id && this.model.item_id) {
                this.fetchItemDetail();
            }
        },

        /**
         * Only fetch item detail when warehouse & item has been selected.
         * 
         * @author Vicky Hariadi.
         */
        'model.item_id': function (item_id) {
            this.model.stock_before = 0;
            this.model.stock_after = 0;
            $('#transdesc').change();
            if (item_id && this.model.warehouse_id) {
                this.fetchItemDetail();
            }
        },

        'model.stock_adjustment': function (stock_adjustment) {
            let formatted = parseInt(stock_adjustment);

            if ( ! formatted || formatted < 1) {
                this.model.stock_adjustment = 1;
                return false;
            }

            this.calculateStockAfter(formatted);
        },

        'model.stock_adjustment_type': function () {
            this.calculateStockAfter(parseInt(this.model.stock_adjustment));
        }
    }
}
</script>

<style scoped>
    #table-item {
        margin-top: 15px;
    }

    #table-item tr td {
        border: 1px solid #d2d6de;
        padding: 8px;
    }

    .mt-15 {
        margin-top: 15px;
    }
</style>