<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <span style="font-size:20px;">Item</span>
            <p style="font-size:15px;"><i>Sales & Purchasing Product/treatment Management</i></p>
        </div>
        <div class="box-header with-border">
            <router-link class="btn btn-success" :to="{ name: 'LogisticItemCreate' }">
                <i class="fa fa-plus-circle"></i> Register New Item
            </router-link>
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered  nowrap table-city" style="width:100%">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Actual Stock</th>
                        <th>Booked Stock</th>
                        <th>Sellable Stock</th>
                        <th>COGS</th>
                        <th>Sales Price</th>
                        <th class="all" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in items" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.type == 'product' ? 'Product' : 'Treatment' }}</td>
                        <template v-if="item.type == 'product'">
                            <td>{{ item.stock }}</td>
                            <td>{{ item.stock - item.sellable_stock }}</td>
                            <td>{{ item.sellable_stock }}</td>
                        </template>
                        <template v-else>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </template>
                        
                        <td>{{ item.cogs }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <div class="btn-group-vertical btn-group-sm">
                                <button class="btn btn-primary" @click="edit(item.id)">
                                    <i class="fa fa-pencil"></i> Edit
                                </button>
                                <button class="btn btn-success" @click="detail(item.id)">
                                    <i class="fa fa-eye"></i> Detail
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            items: []
        }
    },

    mounted() {
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetch();
        },


        /**
         * Fetch item list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/logistics/items`;

            axios.get(endpoint).then(res => {
                this.items = res.data.collection.map(row => {
                    row.price = this.currency(row.price);
                    row.cogs = this.currency(row.cogs);

                    if (row.type == 'service') {
                        row.stock = '-';
                        row.sellable_stock = '-';
                    }
                    return row;
                });

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'LogisticItemDetail', params: { id } });
        },

        /**
         * Goto edit page.
         * 
         * @author Vicky Hariadi.
         */
        edit(id) {
            this.$router.push({ name: 'LogisticItemEdit', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>