<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <router-link class="btn btn-success" :to="{ name: 'LogisticPurchaseReceiveCreate' }">
                <i class="fa fa-plus-circle"></i> Create Receive Item
            </router-link>
        </div>
        <div class="box-body">
            <table class="table table-striped table-bordered nowrap table-city" style="width:100%">
                <thead>
                    <tr>
                        <th width="30px">No.</th>
                        <th>Code</th>
                        <th>Supplier</th>
                        <th>Received Date</th>
                        <th>Remarks</th>
                        <th class="all" width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, index) in receives" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ row.code }}</td>
                        <td>{{ row.supplier.name }}</td>
                        <td>{{ row.transdate }}</td>
                        <td>{{ row.remarks }}</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button class="btn btn-danger">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                                <button class="btn btn-success" @click="detail(row.id)">
                                    <i class="fa fa-eye"></i> Detail
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            receives: []
        }
    },

    mounted() {
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.fetch();
        },


        /**
         * Fetch receives list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/logistics/purchases/receives`;

            axios.get(endpoint).then(res => {
                this.receives = res.data.collection.map(row => {
                    row.total = this.currency(row.total);
                    return row;
                });

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'LogisticPurchaseReceiveDetail', params: { id } });
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    }
}
</script>