<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Detail Anamnesa</span>
                    <p style="font-size:15px;"><i>Show anamnesa items & item materials.</i></p>
                </div>
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="asset('dist/img/avatar2.png')"
                                    alt="user image">
                                <span class="username">
                                    <a href="#">Patient</a>
                                </span>
                                <span class="description">patient #{{ model.customer_id }} </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-0">
                    <div class="col-md-12 col-xs-12">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box-header with-border">
                                            <span style="font-size:20px;">Summary</span>
                                            <p style="font-size:15px;"><i>product information in
                                                    details.</i></p>
                                        </div>

                                        <div class="form-horizontal">
                                            <!-- <div class="form-group">
                                                <label for="">Product</label>
                                                <select id="product_id" class="form-control">
                                                    <option value=""></option>
                                                    <option v-for="(row, index) in options.products"
                                                        :key="index" :value="row.id">
                                                        {{ row.name }}
                                                    </option>
                                                </select>
                                            </div> -->

                                            

                                            <div class="form-group">
                                                <label for="">Date</label>
                                                <p class="form-control-static">{{ model.date_anamnesa }}</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Anamnesa</label>
                                                <p class="form-control-static">{{ model.anamnesa }}</p>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Suggestion</label>
                                                <p class="form-control-static">{{ model.suggestion }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="box-header with-border">
                                            <span style="font-size:20px;">Suggestion Details</span>
                                            <p style="font-size:15px;"><i>Suggested treatment or product</i>
                                            </p>
                                        </div>

                                        <div class="row mt-3 mx-0" v-if="model.details.length">
                                            <div class="col-md-12 col-detail" v-for="(row, index) in model.details" :key="index">
                                                <div class="form-horizontal">
                                                    <div class="form-group row mb-0">
                                                        <label for="" class="col-md-3 p-0">Product/Treatment</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static mb-0">
                                                                {{ row.product_display }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-0">
                                                        <label for="" class="col-md-3 p-0">Qty</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static mb-0">{{ row.qty }} @Rp. {{ currency(row.price) }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-0">
                                                        <label for="" class="col-md-3 p-0">Adjustment</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static mb-0">Rp. {{ currency(row.adjustment) }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-0">
                                                        <label for="" class="col-md-3 p-0">Total</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static mb-0" v-if="row.scenario_id == 1">Rp. {{ currency(row.price * row.qty + parseFloat(row.adjustment)) }} (Qty x Unit Price + Adjustment)</p>
                                                            <p class="form-control-static mb-0" v-if="row.scenario_id == 2">Rp. {{ currency(row.price * row.qty + materialTotal(index) + parseFloat(row.adjustment)) }} (Qty x Unit Price + Material Total + Adjustment)</p>
                                                            <p class="form-control-static mb-0" v-if="row.scenario_id == 3">Rp. {{ currency(materialTotal(index) + parseFloat(row.adjustment)) }} (Material Total + Adjustment)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-0">
                                                        <label for="" class="col-md-3 p-0">{{ row.kind == 'service' ? 'Treatment Ingridients' : 'Bill of Materials' }}</label>
                                                        <div class="col-md-9">
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive" v-if="row.boms.length">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th width="50px">No.</th>
                                                                    <th width="200px">Item</th>
                                                                    <th width="100px">Unit Value</th>
                                                                    <th>Unit Price</th>
                                                                    <th width="50px">Qty</th>
                                                                    <th>Sub Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr v-for="(bom, bomIndex) in row.boms" :key="bomIndex">
                                                                    <td>{{ bomIndex + 1 }}.</td>
                                                                    <td>{{ bom.raw_item.name }}</td>
                                                                    <td>{{ bom.unit_value }} {{ bom.raw_item.uom.alias }}</td>
                                                                    <td>Rp. {{ currency(bom.price) }}</td>
                                                                    <td>{{ bom.qty }}</td>
                                                                    <td>Rp. {{ currency(bom.price * bom.qty) }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <table></table>
                                            </div>
                                        </div>
                                        <p class="text-muted text-center no-detail" v-else>No details.</p>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                id: '',
                itemFetchingText: '',
                bom_edit_index: '',
                is_bom_editing: false,
                detail_edit_index: '',
                is_detail_editing: false,
                qty: 0,
                options: {
                    products: [],
                    items: [],
                    uoms: [],
                    scenarios: [
                        { id: 1, text: 'Qty x Unit Price + Adjustment' },
                        { id: 2, text: 'Qty x Unit Price + Material Total + Adjustment' },
                        { id: 3, text: 'Qty x Material Total + Adjustment' },
                    ]
                },

                customer: {
                    induk_customer: '',
                    full_name: '',
                },

                bom: {
                    raw_item_id: '',
                    qty: 0,
                    unit_value: 0,
                    uom_id: '',
                    price: ''
                },

                boms: [],

                model: {
                    customer_id: '',
                    suggestion: '',
                    anamnesa: '',
                    date_anamnesa: '',
                    details: []
                },

                detail: {
                    product_id: '',
                    qty: 1,
                    price: 0,
                    scenario_id: 1,
                    boms: [],
                    total: 0,
                    product_display: '',
                    kind: '',
                    adjustment: 0,
                },

                formatter: {
                    discount: {
                        thousands: '.',
                        precision: 2,
                        prefix: 'Rp.',
                        suffix: '',
                        masked: false
                    },

                    weight: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    },

                    unit_value: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    },

                    bom_unit_value: {
                        thousands: '.',
                        precision: 2,
                        prefix: '',
                        suffix: '',
                        masked: false
                    }
                },
            }
        },

        mounted() {
            $('select').select2({
                placeholder: 'Choose option',
                width: '100%'
            });

            this.id = this.$route.params.id;

            this.model.customer_id = this.$route.params.patient_id

            this.registerDatePicker();
            this.bootstrap();
        },

        methods: {
            bootstrap() {
                this.fetchItems();
                this.fetchUoms();
                this.load()
            },

            load() {
                let endpoint = `${BASEURL}/api/v1/anamnesas/${this.id}`;
                axios.get(endpoint).then(res => {
                    this.model = res.data.model
                });
            },

            asset(path) {
                return `/${path}`;
            },

            parseFloat(num) {
                return parseFloat(num)
            },

            loadProduct(id) {
                let endpoint = `${BASEURL}/api/v1/products/${id}`;

                axios.get(endpoint).then(res => {
                    this.product = res.data.model;
                });
            },

            /**
             * Register date picker event listeners.
             * 
             * @author Vicky Hariadi.
             */
            registerDatePicker() {
                $('.date').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true
                });

                $('#date_anamnesa').datepicker('setDate', 'today');
                
                let vm = this;

                $('#date_anamnesa').change(function () {
                    let date = $(this).val();
                    vm.model.date_anamnesa = date.split('/').reverse().join('-');
                });

                $('#date_anamnesa').change();
            },

            addDetail() {
                if ( ! this.detail.qty || ! this.detail.product_id) {
                    swal({
                        title: 'Oops',
                        text: 'data is invalid.',
                        icon: 'error'
                    })
                    return
                }

                this.model.details.push({...this.detail})
                this.resetDetail()
            },

            deleteDetail(index) {
                this.model.details.splice(index, 1)
            },

            materialTotal(index) {
                let details = this.model.details[index]
                if ( ! details) {
                    return 0
                }

                return details.boms.reduce((acc, row) => {
                    return acc + parseFloat(row.price) * parseFloat(row.qty)
                }, 0)
            },


            /**
             * Hi future programmer, sorry for this hard code.
             */
            detailTotal(index) {
                let detail = this.model.details[index]
                if ( ! detail) {
                    return 0
                }

                

                if (detail.scenario_id == 1) {
                    return detail.qty * detail.price;
                } else if (detail.scenario_id == 2) {
                    return detail.qty * detail.price + this.materialTotal(index)
                } else {
                    return this.materialTotal(index)
                }
            }, 

            editDetail(index) {
                this.detail = { ...this.model.details[index] }
                this.is_detail_editing = true;
                this.detail_edit_index = index;
                $('#detail_product_id').val(this.detail.product_id).change()
                $('#detailModal').modal('show');
            },

            updateDetail() {
                let detail = { ...this.detail };
                detail.boms = this.model.details[this.detail_edit_index].boms
                // detail.item_display = this.options.items.find(row => row.id == bom.raw_item_id).name;
                // bom.uom_display = this.options.uoms.find(row => row.id == bom.uom_id).alias;

                this.model.details.splice(this.detail_edit_index, 1, detail);
                $('#detailModal').modal('hide');
                this.resetDetail();
            },

            resetDetail() {
                this.detail = {
                    product_id: '',
                    qty: 1,
                    price: 0,
                    scenario_id: 1,
                    boms: [],
                    total: 0,
                    product_display: '',
                    kind: '',
                    adjustment: 0,
                }

                $('#product_id').val('').change()
                if (this.is_detail_editing) {
                    $('#detail_product_id').val('').change()
                }
                this.is_detail_editing = false
                $('#addQty').attr('readonly', 'readonly')
            },

            /**
             * Store confirmation.
             * 
             * @author Vicky Hariadi.
             */
            confirmStore() {
                swal({
                    title: 'Are you sure?',
                    text: "Make sure your data is correct.",
                    icon: 'warning',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                        },
                        confirm: {
                            text: "Sure",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    }
                }).then((value) => {
                    if (value) {
                        this.store();
                    }
                })
            },

            /**
             * store form.
             */
            store() {
                let endpoint = `${BASEURL}/api/v1/anamnesas`;

                this.model.details.forEach((row, index) => {
                    console.log('detail', row)
                   if (row.scenario_id == 1) {
                       row.total = row.price * row.qty + parseFloat(row.adjustment);
                   } else if (row.scenario_id == 2) {
                       row.total = row.price * row.qty + this.materialTotal(index) + parseFloat(row.adjustment);
                   } else {
                       row.total = this.materialTotal(index) + parseFloat(row.adjustment)
                   }
                });

                axios.post(endpoint, this.model).then(res => {
                    swal({
                        title: 'Success',
                        text: 'Anamnesa has been saved.',
                        icon: 'success'
                    });

                    document.location.href = `${BASEURL}/customers/${this.model.customer_id}`
                    return
                }).catch(e => {
                    console.error(e);
                    swal({
                        title: 'Failed',
                        text: 'Could not publish product, please contact IT.',
                        icon: 'error'
                    });
                });
            },

            /**
             * Fetch product options.
             * 
             * @author Vicky Hariadi.
             */
            fetchItems() {
                let endpoint = `${BASEURL}/api/v1/logistics/items/options?compact=1`;
                let vm = this;

                axios.get(endpoint).then(res => {
                    this.options.items = [...res.data.options]
                    this.options.products = res.data.options.map(row => {
                        let name = `${row.sales.product_treatment_name} (${row.type == 'product' ? 'product' : 'treatment'})`
                        return {
                            id: row.sales_information_id,
                            name
                        }
                    });


                    $('#product_id').change(function () {
                        let product_id = $(this).val();
                        vm.detail.product_id = product_id
                    });

                    $('#detail_product_id').change(function() {
                        vm.detail.product_id = $(this).val()
                    })

                    $('#bom_raw_item_id').change(function () {
                        vm.bom.raw_item_id = $(this).val();

                        let item = vm.options.items.find(row => row.id == $(this).val());

                        if (item) {
                            $('#bom_uom_id').val(item.uom_id).change();
                            vm.bom.unit_value = item.unit_value;
                            vm.bom.price = item.sales.price.replace(',', '')
                        }
                    });
                });
            },

            /**
             * Load item details.
             * 
             * @author Vicky Hariadi.
             */
            loadItem(id) {
                let endpoint = `${BASEURL}/api/v1/logistics/items/${id}`;
                let vm = this;

                return axios.get(endpoint)
            },

            /**
             * Fetch unit of measurement options.
             * 
             * @author Vicky Hariadi.
             */
            fetchUoms() {
                let endpoint = `${BASEURL}/api/v1/uoms/options`;
                let vm = this;

                axios.get(endpoint).then(res => {
                    this.options.uoms = res.data.options;

                    $('#uom_id').change(function () {
                        vm.model.uom_id = $(this).val();
                    });

                    $('#bom_uom_id').change(function () {
                        vm.bom.uom_id = $(this).val();
                    });
                });
            },

            openBomModal(index) {
                this.detail_edit_index = index
                $('#bomModal').modal('show')
            },

            /**
             * Add material to bom.
             * 
             * @author Vicky Hariadi.
             */
            addBom() {
                let bom = { ...this.bom };
                bom.raw_item = this.options.items.find(row => row.id == bom.raw_item_id);
                bom.raw_item.uom = this.options.uoms.find(row => row.id == bom.uom_id);

                this.model.details[this.detail_edit_index].boms.push(bom);

                this.resetBom();
                $('#bomModal').modal('hide');
            },

            /**
             * remove material.
             * 
             * @author Vicky Hariadi.
             */
            deleteBom(boms, index) {
                boms.splice(index, 1);
            },

            /**
             * Edit bom.
             * 
             * @author Vicky Hariadi.
             */
            editBom(boms, detailIndex, bomIndex) {
                this.bom = { ...boms[bomIndex] }
                this.is_bom_editing = true;
                this.detail_edit_index = detailIndex;
                this.bom_edit_index = bomIndex;
                $('#bom_raw_item_id').val(this.bom.raw_item_id).change();
                $('#bom_uom_id').val(this.bom.uom_id).change();
                $('#bomModal').modal('show');
            },

            /**
             * Add bom material.
             * 
             * @author Vicky Hariadi.
             */
            updateBom() {
                let bom = { ...this.bom };
                bom.raw_item = this.options.items.find(row => row.id == bom.raw_item_id);
                bom.raw_item.uom = this.options.uoms.find(row => row.id == bom.uom_id);

                this.model.details[this.detail_edit_index].boms.splice(this.bom_edit_index, 1, bom);
                $('#bomModal').modal('hide');
                this.resetBom();
            },

            /**
             * Add material to bom.
             * 
             * @author Vicky Hariadi.
             */
            resetBom() {
                this.bom = {
                    raw_item_id: '',
                    qty: 0,
                    unit_value: 0,
                    uom_id: '',
                };

                $('#bom_raw_item_id').val('').change();
                $('#bom_uom_id').val('').change();
                this.is_bom_editing = false;
                this.bom_edit_index = null;
                this.detail_edit_index = null
            },

            /**
            * Local currency format.
            * 
            * @author Vicky Hariadi.
            */
            currency(number) {
                number = parseFloat(number)
                if ( ! number) {
                    return 0;
                }

                return number.toLocaleString('id-ID');
            },
        },

        watch: {
            'detail.product_id': function(product_id) {
                
                let item = this.options.items.find(row => row.sales_information_id == product_id)
                if (item) {
                    this.itemFetchingText = `fetching ${item.type == 'service' ? 'treatment ingridients' : 'bill of materials'}...`
                    $('#addQty').attr('readonly', 'readonly')

                    this.loadItem(item.id).then(res => {
                        let model = res.data.model
                        this.detail.boms = model.boms.map(row => {
                            if (row.raw_item.sales) {
                                row.price = parseFloat(row.raw_item.sales.price.replace(',', ''))
                            }

                            return row
                        })
                        this.detail.price = parseFloat(model.sales.price.replace(',', ''))
                        this.itemFetchingText = ''
                        this.detail.kind = model.type
                        this.detail.product_display = `${model.sales.product_treatment_code} ${model.sales.product_treatment_name}`
                        $('#addQty').removeAttr('readonly')
                    })
                }
            },

            'detail.scenario_id': function(sc) {
                
                // this.$nextTick(() => {
                // setTimeout(() => {
                //     this.detail.total = this.detailTotal(this.detail_edit_index)
                // }, 0)
                // })
            },

            /**
             * Change unit value format.
             * 
             * @author Vicky Hariadi.
             */
            'bom.uom_id': function (uom_id) {
                let uom = this.options.uoms.find(row => uom_id == row.id);

                if (uom) {
                    this.formatter.bom_unit_value.suffix = ` ${uom.alias}`;
                }
            },
        },

    }

</script>
<style scoped>
    .form-horizontal .form-group {
        margin-left: 8px;
        margin-right: 8px;
    }

    .form-horizontal.detail-form {
        padding: 1rem 0;
        margin: 1rem 0;
        border-top: 1px dashed #e4e4ed;
    }

    .form-horizontal.detail-form .row {
        margin: 8px;
    }

    .form-horizontal.detail-form .form-group {
        margin-left: 8px;
        margin-right: 8px;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .mx-0 {
        margin-left: 0;
        margin-right: 0;
    }

    .p-0 {
        padding: 0;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .no-detail {
        margin: 1rem 0;
    }

    .add-detail {
        text-align: center;
        padding: 1rem 0;
        border: 2px dashed #a4a4ad;
        border-radius: 8px;
        cursor: pointer;
        margin: 1.5rem 0;
    }

    .col-detail {
        padding: 8px;
        border: 1px solid #e4e4ed;
        border-radius: 8px;
        margin: 8px;
    }

    .add-detail .icon {
        font-size: 2rem;
        margin-bottom: 8px;
    }

    /* @media screen and (min-width: 1024px) { */
        .detail-form div[class^="col"] {
            padding: 0;
        }

        .detail-form .row div[class^="col"]:first-child .form-group {
            margin-left: 0;
        }
    /* } */

</style>