<template>
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
        <div class="box-header with-border">
            <span style="font-size:20px;">Finished Product</span>
            <p style="font-size:15px;"><i>Show work order result</i></p>
        </div>
        <div class="box-header with-border">
            <button class="btn btn-success" data-toggle="modal" data-target="#formModal">
                <i class="fa fa-plus-circle"></i> Create Finishing Progress
            </button>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered  nowrap table-city" style="width:100%">
                    <thead>
                        <tr>
                            <th width="50px">No.</th>
                            <th>Code</th>
                            <th>Status</th>
                            <th>Work Order</th>
                            <th>Product</th>
                            <th>Checked At</th>
                            <th>Qty</th>
                            <th>Warehouse Destination</th>
                            <!-- <th class="all" width="10%">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, index) in releases" :key="index">
                            <td>{{ index + 1 }}</td>
                            <td>{{ row.code }}</td>
                            <td>
                                <span class="badge badge-success" v-if="row.marked_as == 'ACCEPTED'">{{ row.marked_as }}</span>
                                <span class="badge badge-warning" v-if="row.marked_as == 'CANCELED'">{{ row.marked_as }}</span>
                                <span class="badge badge-danger" v-if="row.marked_as == 'REJECTED'">{{ row.marked_as }}</span>
                            </td>
                            <td>{{ row.work_order_detail.work_order.code }}</td>
                            <td>{{ row.item.name }}</td>
                            <td>{{ row.checked_at }}</td>
                            <td>{{ row.qty }}</td>
                            <td>{{ row.warehouse_destination.name }}</td>
                            <!-- <td>
                                <div class="btn-group-vertical btn-group-sm">
                                    <button class="btn btn-success btn-sm" @click="detail(row.id)">
                                        <i class="fa fa-eye"></i> Detail
                                    </button>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>

        <div class="modal fade" id="formModal" role="dialog" aria-labelledby="formModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="formModalLabel">
                            Create Finishing Progress
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Work Order *</label>
                            <select id="work_order_id" class="form-control">
                                <option value=""></option>
                                <option v-for="(row, index) in options.workOrders" :key="index" :value="row.id">
                                    {{ row.code }} | {{ row.start_date }} | {{ row.pic.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Work Order Line *</label>
                            <select id="work_order_detail_id" class="form-control" aria-describedby="helpBlockWorkOrderDetail">
                                <option value=""></option>
                                <option v-for="(row, index) in workOrderDetails" :key="index" :value="row.id">
                                    {{ row.item.name }}
                                </option>
                            </select>
                            <span id="helpBlockWorkOrderDetail" class="help-block">*only work order lines that still open are displayed.</span>
                        </div>
                        <div class="form-group">
                            <label for="">Checked By *</label>
                            <select id="checked_by" class="form-control">
                                <option value=""></option>
                                <option v-for="(row, index) in options.users" :key="index" :value="row.id">
                                    {{ row.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="">Check Date *</label>
                            <input type="text" class="form-control date" id="checked_at">
                        </div>
                        <div class="form-group">
                            <label class="">Marked as *</label>
                            <select id="marked_as" class="form-control">
                                <option value=""></option>
                                <option v-for="(row, index) in options.marks" :key="index" :value="row.id">
                                    {{ row.text }}
                                </option>
                            </select>
                        </div>
                        
                        <div class="form-group" v-show="model.marked_as != 'CANCELED'">
                            <label class="">Qty *</label>
                            <input type="number" min="0" class="form-control" v-model="model.qty">
                            <span v-if="model.marked_as == 'ACCEPTED'" class="help-block">max accepted product are {{ maxAcceptedQty }}</span>
                        </div>

                        <div class="form-group" v-show="model.marked_as == 'ACCEPTED'">
                            <label class="">Warehouse Destination *</label>
                            <select id="warehouse_destination_id" class="form-control">
                                <option value=""></option>
                                <option v-for="(row, index) in options.warehouses" :key="index" :value="row.id_warehouse">
                                    {{ row.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group" v-show="model.marked_as == 'ACCEPTED'">
                            <label class="">Rack Destination *</label>
                            <select id="rack_destination_id" class="form-control">
                                <option value=""></option>
                                <option v-for="(row, index) in options.racks" :key="index" :value="row.id_rack">
                                    {{ row.main_rack_code }} - {{ row.sub_rack_code }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="resetModal">Close</button>
                        <button type="button" class="btn btn-primary" @click="confirmStore">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            options: {
                marks: [],
                users: [],
                warehouses: [],
                racks: [],
                workOrders: []
            },
            releases: [],
            model: {
                marked_as: '',
                checked_by: '',
                checked_at: '',
                work_order_id: '',
                work_order_detail_id: '',
                warehouse_destination_id: '',
                rack_destination_id: '',
                qty: 0
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.registerDatePicker();
        this.bootstrap();
    },

    methods: {
        async bootstrap() {
            this.fillMarks();
            await Promise.all([
                this.fetch(),
                this.fetchWorkOrder(),
                this.fetchUsers(),
                this.fetchWarehouses()
            ]);

            this.detectOpenModal();
        },


        /**
         * Fetch work order list.
         * 
         * @author Vicky Hariadi.
         */
        fetch() {
            let endpoint = `${BASEURL}/api/v1/manufactures/products`;

            return axios.get(endpoint).then(res => {
                this.releases = res.data.collection;

                setTimeout(() => {
                    $('.table').DataTable({
                        responsive : {
                            details : {
                                type : 'column',
                                target : 'tr'
                            }
                        },
                    });
                }, 0);
            });
        },

        /**
         * Detect open modal from work order.
         * 
         * @author Vicky Hariadi.
         */
        detectOpenModal() {
            let { work_order_id, create, work_order_detail_id } = this.$route.query;

            if (create && work_order_id && work_order_detail_id) {
                console.log('running')
                $('#work_order_id').val(work_order_id).change();
                setTimeout(() => {
                    $('#work_order_detail_id').val(work_order_detail_id).change();
                });
                $('#formModal').modal('show');
            }
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWorkOrder() {
            let endpoint = `${BASEURL}/api/v1/manufactures/work_orders/options`;
            let vm = this;

            return axios.get(endpoint).then(res => {
                this.options.workOrders = res.data.options;

                let vm = this;

                $('#work_order_id').change(function () {
                    vm.model.work_order_id = $(this).val();
                });

                $('#work_order_detail_id').change(function () {
                    vm.model.work_order_detail_id = $(this).val();
                });
            });
        },

        /**
         * Fetch user options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUsers() {
            let endpoint = `${BASEURL}/api/v1/users/options`;
            let vm = this;

            return axios.get(endpoint).then(res => {
                this.options.users = res.data.options;

                $('#checked_by').change(function () {
                    vm.model.checked_by = $(this).val();
                });
            });
        },

        /**
         * Fetch rack options by warehouse.
         * 
         * @author Vicky Hariadi.
         */
        fetchRacks(warehouse_id) {
            if (warehouse_id == '') {
                return false;
            }

            let endpoint = `${BASEURL}/api/v1/racks/options/${warehouse_id}`;
            let vm = this;

            axios.get(endpoint).then(res => {
                this.options.racks = res.data.options;

                $('#rack_destination_id').change(function () {
                    vm.model.rack_destination_id = $(this).val();
                });
            });
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/manufactures/products`;

            axios.post(endpoint, this.model).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your progress has been stored to database.',
                    icon: 'success'
                });

                $('#formModal').modal('hide');
                this.resetModal();
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store progress, please contact IT.',
                    icon: 'error'
                });

                $('#formModal').modal('hide');
            });
        },

        /**
         * Fetch warehouse options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWarehouses() {
            let endpoint = `${BASEURL}/api/v1/warehouses/options`;
            let vm = this;
            return axios.get(endpoint).then(res => {
                this.options.warehouses = res.data.options;

                $('#warehouse_destination_id').change(function () {
                    vm.model.warehouse_destination_id = $(this).val();
                });
            });
        },

        /**
         * Goto detail page.
         * 
         * @author Vicky Hariadi.
         */
        detail(id) {
            this.$router.push({ name: 'ManufactureWorkOrderDetail', params: { id } });
        },

        /**
         * Fill marks.
         * 
         * @author Vicky Hariadi.
         */
        fillMarks(id) {
            this.options.marks = [
                { id: 'ACCEPTED', text: 'ACCEPTED' },
                { id: 'CANCELED', text: 'CANCELED' },
                { id: 'REJECTED', text: 'REJECTED' },
            ];

            let vm = this;

            $('#marked_as').change(function () {
                vm.model.marked_as = $(this).val();
            });
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#checked_at').datepicker('setDate', 'today');
            
            let vm = this;

            $('#checked_at').change(function () {
                let date = $(this).val();
                vm.model.checked_at = date.split('/').reverse().join('-');
            });

            $('#checked_at').change();
        },

        /**
         * Reset detail.
         * 
         * @author Vicky Hariadi.
         */
        resetModal() {
            this.model = {
                marked_as: '',
                checked_by: '',
                checked_at: '',
                work_order_id: '',
                work_order_detail_id: '',
                warehouse_destination_id: '',
                rack_destination_id: '',
                qty: 0
            };

            $('#work_order_id').val('').change();
            $('#work_order_detail_id').val('').change();
            $('#warehouse_destination_id').val('').change();
            $('#rack_destination_id').val('').change();
            $('#checked_by').val('').change();
        },

        /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        }
    },

    computed: {
        workOrderDetails() {
            if ( ! this.model.work_order_id) {
                return [];
            }

            return this.options.workOrders.find(row => row.id == this.model.work_order_id).details
        },

        maxAcceptedQty() {
            if ( ! this.model.work_order_detail_id) {
                return 0;
            }

            let detail = this.workOrderDetails.find(row => row.id == this.model.work_order_detail_id);

            if ( ! detail) {
                return 0;
            }

            return detail.qty - detail.finished_qty;
        }
    },

    watch: {
        'model.warehouse_destination_id': function (warehouse_destination_id) {
            this.fetchRacks(warehouse_destination_id);
        },

        'model.qty': function (rawQty) {
            let qty = parseInt(rawQty);

            if (this.model.marked_as == 'ACCEPTED') {
                if (qty <= 0 || qty > this.maxAcceptedQty) {
                    this.model.qty = this.maxAcceptedQty;
                }
            }
        }
    }
}
</script>

<style scoped>
    .badge-warning {
        background-color: #f39c12;
    }

    .badge-success {
        background-color: #00a65a;
    }

    .badge-danger {
        background-color: #dd4b39;
    }
</style>