<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-5">
                            <span style="font-size:20px;">{{ model.item.name }} Work Order</span>
                            <p style="font-size:15px;"><i>Show item materials and material release logs.</i></p>
                        </div>
                        <div class="col-md-7 col-xs-12 text-right" v-if=" ! model.mark_as_close">
                            <a class="btn btn-social btn-success" @click="confirmClose"><i class="fa fa-check"></i>Mark as Closed</a>
                            <router-link class="btn btn-social btn-warning" :to="{ name: 'ManufactureMaterialReleaseCreate', query: { work_order_detail_id: model.id, work_order_id: model.work_order_id } }"><i class="fa fa-repeat"></i>Create Material Release</router-link>
                        </div>
                    </div>
                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                        <li><a href="#materials" data-toggle="tab">Material Release Logs</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="overview">
                            <form action="" class="form form-invoice">
                                <div class="box-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Product Name</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">
                                                    <router-link :to="{ name: 'LogisticItemDetail', params: { id: model.item.id } }">{{ model.item.name }}</router-link>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Unit Value</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.item.unit_value }} {{ model.item.uom.alias }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Achieved / Target</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ model.finished_qty }} / {{ model.qty }}</p>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Acheivement</label>
                                            <div class="col-md-5">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" :aria-valuenow="workOrderProgress" aria-valuemin="0" aria-valuemax="100" :style="`min-width: 3em; width: ${workOrderProgress}%`">
                                                        {{ workOrderProgress }}%
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Released Material</label>
                                            <div class="col-md-5">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" :aria-valuenow="releasedPercentage" aria-valuemin="0" aria-valuemax="100" :style="`min-width: 3em; width: ${releasedPercentage}%`">
                                                        {{ releasedPercentage }}%
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        
                                        <div class="box-header with-border mt-5">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <span style="font-size:16px;">Finishing Progress Logs</span>
                                                </div>
                                                <div class="col-md-7 col-xs-12 text-right" v-if=" ! model.mark_as_close">
                                                    <router-link class="btn btn-primary btn-sm" :to="{ name: 'ManufactureFinishes', query: { create: 1, work_order_id: model.work_order_id, work_order_detail_id: model.id } }">
                                                        <i class="fa fa-plus-circle"></i> Create Finishing Progress
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="50px">No.</th>
                                                        <th>Code</th>
                                                        <th>Status</th>
                                                        <th>Checked At</th>
                                                        <th>Checked By</th>
                                                        <th>Qty</th>
                                                        <th>Warehouse Destination</th>
                                                    </tr>
                                                </thead>
                                                <tbody v-if="finishedProducts.length">
                                                    <tr v-for="(row, index) in finishedProducts" :key="index">
                                                        <td>{{ index + 1 }}</td>
                                                        <td>{{ row.code }}</td>
                                                        <td>
                                                            <span class="badge badge-success" v-if="row.marked_as == 'ACCEPTED'">{{ row.marked_as }}</span>
                                                            <span class="badge badge-warning" v-if="row.marked_as == 'CANCELED'">{{ row.marked_as }}</span>
                                                            <span class="badge badge-danger" v-if="row.marked_as == 'REJECTED'">{{ row.marked_as }}</span>
                                                        </td>
                                                        <td>{{ row.checked_at }}</td>
                                                        <td>{{ row.checker.name }}</td>
                                                        <td>{{ row.qty }}</td>
                                                        <td>{{ row.warehouse_destination.name }}</td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                    <tr>
                                                        <td colspan="7">No Finished Products</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="materials">
                            <form class="form form-invoice" v-for="(row, index) in model.materials" :key="index">
                                <div class="box-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">No.</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ index + 1 }}</p>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Material Name</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">
                                                    <router-link :to="{ name: 'LogisticItemDetail', params: { id: row.raw_item.id } }">{{ row.raw_item.name }}</router-link>
                                                </p>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Unit Value</label>
                                            <div class="col-md-5">
                                                <p class="form-control-static">{{ row.unit_value }} {{ row.uom.alias }}</p>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Base Qty</label>
                                            <div class="col-md-2">
                                                <p class="form-control-static">
                                                    {{ row.qty }}
                                                    &nbsp;&nbsp;<small>relased</small>
                                                    {{ row.released_qty }}
                                                    <i class="fa fa-arrow-right text-danger"></i>
                                                </p>
                                            </div>
                                        </div>
                                    
                                    
                                        <div class="form-group">
                                            <label for="" class="col-md-2 control-label">Releases log</label>
                                            <div class="col-md-10">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="50px">No.</th>
                                                                <th>Release code</th>
                                                                <th>Warehouse Source</th>
                                                                <th>Released at</th>
                                                                <th>Released by</th>
                                                                <th>Released Qty</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody v-if="row.releases.length">
                                                            <tr v-for="(release, subIndex) in row.releases" :key="`${index}${subIndex}`">
                                                                <td>{{ index + 1 }}.{{ subIndex + 1 }}</td>
                                                                <td>
                                                                    <router-link :to="{ name: 'ManufactureMaterialReleaseIndex', query: { material_release_id: release.id } }">
                                                                        {{ release.code }}
                                                                    </router-link>
                                                                </td>
                                                                <td>{{ release.warehouse_origin.name }}</td>
                                                                <td>{{ release.released_date }}</td>
                                                                <td>{{ release.releaser.name }}</td>
                                                                <td>{{ release.released_qty }} <i class="fa fa-arrow-right text-danger"></i></td>
                                                            </tr>
                                                        </tbody>
                                                        <tbody v-else>
                                                            <tr>
                                                                <td colspan="6">
                                                                Empty releases log.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            id: null,
            model: {
                name: '',
                item: {
                    unit_value: 0,
                    uom: {}
                },
                qty: 0,
                finished_qty: 0,
                materials: []
            },
            finishedProducts: []
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.id = this.$route.params.id;
        this.bootstrap();
    },

    methods: {
        bootstrap() {
            this.load()
            this.fetchFinishedProducts();
        },

        asset(path) {
            return `/${path}`;
        },

        /**
         * Fetch materials.
         */
        load() {
            let endpoint = `${BASEURL}/api/v1/manufactures/work_orders/details/${this.id}`;

            axios.get(endpoint).then(res => {
                this.model = res.data.model;
                this.model.releases = res.data.releases;
            });
        },

        /**
         * Fetch finishing products.
         * 
         * @author Vicky Hariadi.
         */
        fetchFinishedProducts() {
            let endpoint = `${BASEURL}/api/v1/manufactures/products/lines/${this.id}`;

            axios.get(endpoint).then(res => {
                this.finishedProducts = res.data.collection;
            });
        },

        /**
         * Close work order confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmClose() {
            swal({
                title: 'Are you sure?',
                text: "Closing work order will make this can't make material release or any finishing progress record.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.closeWorkOrder();
                }
            })
        },
        /**
         * Close work order.
         * 
         * @author Vicky Hariadi.
         */
        closeWorkOrder() {
            let endpoint = `${BASEURL}/api/v1/manufactures/work_orders/details/${this.model.id}/close`;

            axios.post(endpoint).then(res => {
                swal({
                    title: 'Closed',
                    text: 'This work order has been closed.',
                    icon: 'success'
                });
                this.$router.push({ name: 'ManufactureWorkOrderDetail', params: { id: this.model.work_order_id } });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not close work order, please contact IT.',
                    icon: 'error'
                });
            })
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },
    },

    computed: {
        workOrderProgress() {
            let percentage = this.model.finished_qty / this.model.qty * 100;

            return percentage.toFixed(0);
        },

        totalMaterial() {
            return this.model.materials.reduce((acc, row) => {
                return acc + row.qty;
            }, 0)
        },

        totalReleasedMaterial() {
            return this.model.materials.reduce((acc, row) => {
                return acc + row.released_qty;
            }, 0);
        },

        releasedPercentage() {
            let percentage = this.totalReleasedMaterial / this.totalMaterial * 100;

            return percentage.toFixed(0);
        }
    }
}
</script>
<style scoped>
    .progress {
        margin-bottom: 0;
        margin-top: 0.5rem;
    }

    .mt-5 {
        margin-top: 2rem;
    }

    .badge-warning {
        background-color: #f39c12;
    }

    .badge-success {
        background-color: #00a65a;
    }

    .badge-danger {
        background-color: #dd4b39;
    }

    @media screen and (max-width: 768px) {
        .box-header .col-xs-12.text-right .btn {
            width: 100%;
            display: block;
            margin-top: 8px;
        }
    }

</style>