<template>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <span style="font-size:20px;">Create Material Release</span>
                    <p style="font-size:15px;"><i>Create new material release record.</i></p>
                </div>

                <form class="form form-invoice" data-toggle="validator" method="post">
                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Work Order *</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="work_order_id">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.workOrders" :key="index" :value="row.id">
                                            {{ row.code }} | {{ row.start_date }} | {{ row.pic.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" v-show="model.work_order_id">
                                <label class="col-md-2 control-label">Work Order Line *</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="work_order_detail_id" aria-describedby="helpBlockWorkOrderDetail">
                                        <option value=""></option>
                                        <option v-for="(row, index) in workOrderDetails" :key="index" :value="row.id">
                                            {{ row.item.name }}
                                        </option>
                                    </select>
                                    <span id="helpBlockWorkOrderDetail" class="help-block">*only work order lines that still open are displayed.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Released Date *</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control date" id="released_date">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Released By *</label>
                                <div class="col-md-5">
                                    <select id="released_by" class="form-control">
                                        <option value=""></option>
                                        <option v-for="(row, index) in options.users" :key="index" :value="row.id">{{ row.name }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Remarks</label>
                                <div class="col-md-5">
                                    <textarea rows="4" class="form-control" v-model="model.remarks"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-md-2 control-label">Item(s)</label>
                                <div class="col-md-10">
                                   <div class="table-responsive">
                                       <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="50px">No.</th>
                                                    <th>Material</th>
                                                    <th>Base Qty</th>
                                                    <th>Total Released</th>
                                                    <th>Current Released</th>
                                                    <th>Warehouse Source</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="model.releases.length">
                                                <tr v-for="(release, index) in model.releases" :key="index" @click="editDetail(index)">
                                                    <td>{{ index + 1 }}</td>
                                                    <td>{{ release.raw_item_display }}</td>
                                                    <td>{{ release.qty }}</td>
                                                    <td>{{ parseInt(release.total_released_qty) + parseInt(release.released_qty) }} <i class="fa fa-arrow-right text-danger"></i></td>
                                                    <td>{{ release.released_qty }}</td>
                                                    <td>{{ release.warehouse_origin_display }}</td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="6">
                                                    No Materials. Please choose work order then select some work order line.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="box-footer text-right">
                    <button @click.prevent="confirmStore" class="btn btn-primary btn-save"><i class="fa fa-floppy-o"></i> Save
                    </button>
                </div>
            </div>
            
        </div>

        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="detailModalLabel">
                            Change Release Info
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="" class="col-md-4">Material</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{ detail.raw_item_display }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Base Qty</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{ detail.qty }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Total Released Qty</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{ parseInt(detail.total_released_qty) + parseInt(detail.released_qty) }}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">Warehouse *</label>
                            <div class="col-md-8">
                                <select id="warehouse_origin_id" class="form-control">
                                    <option value=""></option>
                                    <option v-for="(row, index) in options.warehouses" :key="index" :value="row.id_warehouse">{{ row.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4">Current Release Qty</label>
                            <div class="col-md-8">
                                
                                <input v-if="validation.passed" type="number" min="1" class="form-control" v-model="detail.released_qty" aria-describedby="helpBlockReleasedQty">
                                <span id="helpBlockReleasedQty" class="help-block">{{ validation.message }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="resetDetail">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateDetail">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            is_detail_editing: false,
            detail_edit_index: 0,

            validation: {
                passed: false,
                message: 'please choose warehouse first'
            },

            detail: {
                released_qty: 0,
                qty: 0,
                total_released_qty: 0,
                warehouse_origin_display: '',
                warehouse_origin_id: '',
                raw_item_display: '',
                max_stock: 0
            },

            options: {
                workOrders: [],
                warehouses: [],
                users: []
            },
            
            model: {
                work_order_id: '',
                work_order_detail_id: '',
                released_date: '',
                released_by: '',
                releases: []
            }
        }
    },

    mounted() {
        $('select').select2({
            placeholder: 'Choose option',
            width: '100%'
        });

        this.registerDatePicker();
        this.bootstrap();
    },

    methods: {
        async bootstrap() {
            await Promise.all([
                this.fetchWorkOrder(),
                this.fetchItems(),
                this.fetchWarehouses(),
                this.fetchUsers()
            ]);

            this.detectFillable();
        },

        asset(path) {
            return `/${path}`;
        },

        /**
         * Detect fillable form from work order.
         * 
         * @author Vicky Hariadi.
         */
        detectFillable() {
            let { work_order_id, work_order_detail_id } = this.$route.query;

            if (work_order_id && work_order_detail_id) {
                $('#work_order_id').val(work_order_id).change();

                setTimeout(() => {
                    $("#work_order_detail_id").val(work_order_detail_id).change();
                });
            }
        },

        /**
         * Fetch supplier options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWorkOrder() {
            let endpoint = `${BASEURL}/api/v1/manufactures/work_orders/options`;
            let vm = this;

            return axios.get(endpoint).then(res => {
                this.options.workOrders = res.data.options;

                let vm = this;

                $('#work_order_id').change(function () {
                    vm.model.work_order_id = $(this).val();
                });

                $('#work_order_detail_id').change(function () {
                    vm.model.work_order_detail_id = $(this).val();
                });
            });
        },

        /**
         * Fetch user options.
         * 
         * @author Vicky Hariadi.
         */
        fetchUsers() {
            let endpoint = `${BASEURL}/api/v1/users/options`;
            let vm = this;

            return axios.get(endpoint).then(res => {
                this.options.users = res.data.options;

                $('#released_by').change(function () {
                    vm.model.released_by = $(this).val();
                });
            });
        },

        /**
         * Fetch warehouse options.
         * 
         * @author Vicky Hariadi.
         */
        fetchWarehouses() {
            let endpoint = `${BASEURL}/api/v1/warehouses/options`;
            let vm = this;
            return axios.get(endpoint).then(res => {
                this.options.warehouses = res.data.options;

                $('#warehouse_origin_id').change(function () {
                    vm.detail.warehouse_origin_id = $(this).val();
                });
            });
        },

        /**
         * Fetch item options.
         * 
         * @author Vicky Hariadi.
         */
        fetchItems() {
            let endpoint = `${BASEURL}/api/v1/logistics/items/options?type=product`;
            let vm = this;
        
            return axios.get(endpoint).then(res => {
                this.options.items = res.data.options;

                $('#detail_item_id').change(function () {
                    vm.detail.item_id = $(this).val();
                });
            });
        },

        fetchMaterials(work_order_detail_id) {
            let endpoint = `${BASEURL}/api/v1/manufactures/materials/${work_order_detail_id}/wodet`;

            axios.get(endpoint).then(res => {
                this.model.releases = res.data.collection.map(row => {
                    return {
                        material_id: row.id,
                        total_released_qty: row.released_qty,
                        raw_item_display: row.raw_item.name,
                        qty: row.qty,
                        raw_item_id: row.raw_item_id,
                        released_qty: 0,
                        warehouse_origin_id: '',
                        max_stock: 0,
                        warehouse_origin_display: '(please choose)'
                    }
                });
            });
        },

         /**
         * Local currency format.
         * 
         * @author Vicky Hariadi.
         */
        currency(number) {
            if ( ! number) {
                return 0;
            }

            return number.toLocaleString('id-ID');
        },

        /**
         * Register date picker event listeners.
         * 
         * @author Vicky Hariadi.
         */
        registerDatePicker() {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            $('#released_date').datepicker('setDate', 'today');
            
            let vm = this;

            $('#released_date').change(function () {
                let date = $(this).val();
                vm.model.released_date = date.split('/').reverse().join('-');
            });

            $('#released_date').change();
        },

        /**
         * Validate item stock at certain warehouse.
         * 
         * @author Vicky Hariadi.
         */
        validateStock(warehouse_origin_id) {
            let endpoint = `${BASEURL}/api/v1/warehouses/${warehouse_origin_id}/stocks/${this.detail.raw_item_id}`;

            this.validation.message = 'attempting to get stock information, please wait...'
            axios.get(endpoint).then(res => {
                this.detail.max_stock = res.data.stock;
                this.validation.message = `current stock at this warehouse are ${res.data.stock}`;

                if (res.data.stock) {
                    this.validation.passed = true;
                }
            });
        },

        /**
         * Store confirmation.
         * 
         * @author Vicky Hariadi.
         */
        confirmStore() {
            swal({
                title: 'Are you sure?',
                text: "Make sure your data is correct.",
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Sure",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((value) => {
                if (value) {
                    this.store();
                }
            })
        },

        /**
         * store form.
         */
        store() {
            let endpoint = `${BASEURL}/api/v1/manufactures/materials/releases`;

            let releases = [];
            
            this.model.releases.forEach(row => {
                row.released_date = this.model.released_date;
                row.released_by = this.model.released_by;
                releases.push(row);
            });

            axios.post(endpoint, { releases }).then(res => {
                swal({
                    title: 'Stored',
                    text: 'Your material releases have been stored to database.',
                    icon: 'success'
                });

                this.$router.push({ name: 'ManufactureMaterialReleaseIndex' });
            }).catch(e => {
                console.error(e);
                swal({
                    title: 'Failed',
                    text: 'Could not store material release, please contact IT.',
                    icon: 'error'
                });
            });
        },

        /**
         * Update stock.
         * 
         * @author Vicky Hariadi.
         */
        updateDetail() {
            if (parseInt(this.detail.released_qty) > parseInt(this.detail.max_stock)) {
                swal({
                    title: 'Failed',
                    text: 'Not enough stock. please make new purchase order',
                    icon: 'error'
                });

                return false;
            }

            let detail = { ...this.detail };
            detail.warehouse_origin_display = this.options.warehouses.find(row => row.id_warehouse == detail.warehouse_origin_id).name;
            
            this.model.releases.splice(this.detail_edit_index, 1, detail);

            this.resetDetail();
            $('#detailModal').modal('hide');
        },

        /**
         * 
         */
        resetDetail() {
            this.detail = {
                total_released_qty: 0,
                qty: 0,
                released_qty: 0,
                max_stock: 0
            };

            this.validation = {
                passed: false,
                message: 'please choose warehouse first'
            };


            $('#warehouse_origin_id').val('').change();
            this.is_detail_editing = false;
            this.detail_edit_index = null;
        },

        /**
         * Edit begin stock.
         * 
         * @author Vicky Hariadi.
         */
        editDetail(index) {
            $('#warehouse_origin_id').val('').change();
            this.detail = { ...this.model.releases[index] }
            this.detail_edit_index = index;

            if (this.detail.warehouse_origin_id) {
                $('#warehouse_origin_id').val(this.detail.warehouse_origin_id).change();
            }
            
            $('#detailModal').modal('show');
        },
    },

    computed: {
        workOrderDetails() {
            if ( ! this.model.work_order_id) {
                return [];
            }

            return this.options.workOrders.find(row => row.id == this.model.work_order_id).details
        }
    },

    watch: {
        'model.work_order_detail_id': function (work_order_detail_id) {
            this.fetchMaterials(work_order_detail_id);
        },

        'detail.warehouse_origin_id': function (warehouse_origin_id) {
            console.log('warehouse_origin_id changed to '+ warehouse_origin_id);
            if (warehouse_origin_id) {
                this.validateStock(warehouse_origin_id);
            }
        }
    }
}
</script>